<section class="partnership">
	<div class="container">
		<h2 class="partnership__title">Варианты сотрудничества</h2>
		<div class="partnership__items">
			<div class="cooperation__item">
				<div class="cooperation__item-card">
					<img alt="" src="img/sotr1.png" class="cooperation__item-img">
					<div class="cooperation__item-text">
						<h3 class="cooperation__item-title">Индивидуальная консультация</h3>

						<div class="cooperation__item-timing">
							Тайминг: <span>1 рабочий час</span>
						</div>
						<div class="cooperation__item-price">
							Стоимость: <span>9 000 руб</span>
						</div>

						<a href="partnership-item.html" class="cooperation__item-link">
							Подробнее
							<svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.75 0L15.335 1.415L20.92 7H0.75V9H20.92L15.335 14.585L16.75 16L24.75 8L16.75 0Z"
									fill="#FFB81C" />
							</svg>
						</a>
					</div>
				</div>
				<div class="cooperation__item-list-wrapper color">

					<ul class="cooperation__item-list">
						<li class="cooperation__item-list-item">
							Сформирую решение задачи и корректный план действий
						</li>
						<li class="cooperation__item-list-item">
							Подберу инструменты для решения конкретных задач
						</li>
					</ul>
				</div>
			</div>
			<div class="cooperation__item">
				<div class="cooperation__item-card">
					<img alt="" src="img/sotr2.png" class="cooperation__item-img">
					<div class="cooperation__item-text">
						<h3 class="cooperation__item-title">И.К. + диагностическая сессия</h3>

						<div class="cooperation__item-timing">
							Тайминг: <span>2 встречи без фиксации времени</span>
						</div>
						<div class="cooperation__item-price">
							Стоимость: <span>30 000 руб</span>
						</div>

						<a href="partnership-item.html" class="cooperation__item-link">
							Подробнее
							<svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.75 0L15.335 1.415L20.92 7H0.75V9H20.92L15.335 14.585L16.75 16L24.75 8L16.75 0Z"
									fill="#FFB81C" />
							</svg>
						</a>
					</div>
				</div>
				<div class="cooperation__item-list-wrapper">
					<div class="cooperation__item-list-title">
						Опции “индивидуальная консультация”
					</div>
					<ul class="cooperation__item-list">
						<li class="cooperation__item-list-item">
							Проведу глубинное интервью с вами: из него выявим и проанализируем ваши hard и soft skills, для
							понимания какой стиль веденя бизнеса вам близок
						</li>
						<li class="cooperation__item-list-item">
							Помогу сформировать подробный план реализации ваших задач </li>
					</ul>
				</div>
			</div>
			<div class="cooperation__item">
				<div class="cooperation__item-card">
					<img alt="" src="img/sotr3.png" class="cooperation__item-img">
					<div class="cooperation__item-text">
						<h3 class="cooperation__item-title">И.К. + рабочая сессия + ведение 1 месяц</h3>

						<div class="cooperation__item-timing">
							Тайминг: <span>5 встреч в течении месяца</span>
						</div>
						<div class="cooperation__item-price">
							Стоимость: <span>70 000 руб</span>
						</div>

						<a href="partnership-item.html" class="cooperation__item-link">
							Подробнее
							<svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.75 0L15.335 1.415L20.92 7H0.75V9H20.92L15.335 14.585L16.75 16L24.75 8L16.75 0Z"
									fill="#FFB81C" />
							</svg>
						</a>
					</div>
				</div>
				<div class="cooperation__item-list-wrapper">
					<div class="cooperation__item-list-title">
						Опции “Индивидуальная консультация + диагностическая сессия” </div>
					<ul class="cooperation__item-list">
						<li class="cooperation__item-list-item">
							Определим тип рабочей сессии в зависимости от задач: стратегическую или тактическую </li>
						<li class="cooperation__item-list-item">
							Подберу инструменты для решения конкретных задач </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>