@font-face {
  font-family: 'PTMono-Bold';
  src: url('PTMono-Bold.ttf') format('truetype'),
       url('PTMono-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt-mono.bold';
  src: url('pt-mono.bold.eot');
  src: url('pt-mono.bold.eot?#iefix') format('embedded-opentype'),
       url('pt-mono.bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

